*{
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: 'Raleway', sans-serif;

}
body {
font-size: 16px;
}
.bg-amazing-events {
  background-color: #6c5ce7;
}
/* navbar */

.navbar {
  display: flex;
  justify-content: flex-end; 
  background-color: blue;
  /* color: rgb(254, 231, 166); */
  background: rgb(245, 230, 238)  ;
}
.navbar .nav-link {
  background-color: rgb(244, 206, 100) ; 
  text-align: center;
  font-size: 1rem;
  -webkit-text-stroke: 0.1rem rgb(82, 80, 76);
  letter-spacing: 1px;
  flex-grow: 0 !important;
}

.nav-item {
  display: inline-block;
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  
}


.navbar-nav {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  border:0;
}

.navbar-nav .btn {
  color: #070707; /* Color de texto oscuro */
  background-color: #ffffff; /* Color de fondo oscuro */
  width: 100%; /* El ancho del botón se extiende a lo ancho del contenedor */
  
}

.navbar-nav .btn:hover {
  color: #fff; /* Cambia el color del texto a blanco al pasar el cursor sobre el botón */
  background-color: #f26e98; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}
main{
  padding: 10px;
  margin: 20px;
}
/* banner */
.banner {
  position: sticky;
  margin-bottom: 30px;
}
.banner>a{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;

 }
.siguiente{
  right: 10px;
}
.anterior{
  left: 10px;
} 

/* checkbox */
.container-fluid{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
label {
  padding-left: 15px;
  text-indent: -15px;
}
input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  overflow: hidden;
}


/* cards */
.row{ 
  padding-bottom: 200px;


}
.btn{
  display: flex;
  flex-direction: row;
  align-content: flex-end;
}


/* form */
form {
font-size: 1rem;
font-family: "raleway";
}

input.form-control {
  font-size: 1.2rem;
}

textarea.form-control {
  font-size: 1.4rem;
}
/* details */
.details .texto{
  margin:auto;
  font-size: small;
  text-align: center;
  width: 100px;
}


.details {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

/* stats*/
 .table th td tr {
  border: 1px solid black; 
  border-collapse:collapse;
  font-size: 12px;
  background-color: rgb(241, 240, 234);
  empty-cells: show;
  table-layout:fixed;
 }

 /* footer */
 footer {
  box-sizing: border-box;
  display: flex;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(245, 230, 238);
}

.buttons a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  width: 50px;
  height:50px;
}
.buttons a:first-child {
  margin-right: 10px;
}

.buttons svg {
  height: 30px;
  width: 30px;
  fill: #000;
  transition: transform 0.2s ease-in-out;
  margin-left: 15px;
}

.buttons svg:hover {
  transform: scale(1.2);
}



@media only screen and (min-width: 360px) {
  /* Ajustes para pantallas de 360px o más */
  .navbar-nav-scroll {
    --bs-scroll-height: 200px;
  }
}

/* Min-width 768px */

@media only screen and (min-width: 768px) {
  /* Ajustes para pantallas de 768px o más */
  .srch {
    display: flex;
    justify-content: center;
  }
  
}

/* Min-width 1200px */
@media only screen and (min-width: 1200px) {
  /* Ajustes para pantallas de 1200px o más */
  .banner {
    height: 500px;
  }
}

