*{
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: 'Raleway', sans-serif;

}
body {
font-size: 16px;
}
.bg-amazing-events {
  background-color: #6c5ce7;
}
/* navbar */

.navbar {
  display: flex;
  justify-content: flex-end; 
  background: rgb(245, 230, 238);
  
}
.navbar .nav-link {
  background-color: rgb(244, 206, 100); 
  text-align: center;
  font-size: 1rem;
  -webkit-text-stroke: 0.1rem rgb(82, 80, 76);
  letter-spacing: 1px;
  flex-grow: 0 !important;
  
}

.nav-item {
  display: inline-block;
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  
}


.navbar-nav {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  border:0;
}

.navbar-nav .btn {
  color: #070707; /* Color de texto oscuro */
  background-color: #ffffff; /* Color de fondo oscuro */
  width: 100%; /* El ancho del botón se extiende a lo ancho del contenedor */
  
}

.navbar-nav .btn:hover {
  color: #fff; /* Cambia el color del texto a blanco al pasar el cursor sobre el botón */
  background-color: #f26e98; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}

main{
  padding: 10px;
  margin: 20px;
}
/* banner */
.container {
  width: 100%;
  max-width: 1200px; /* Establece un ancho máximo para el contenedor */
  margin: 0 auto; /* Centra el contenedor en la página */
}

.banner {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.banner a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1rem;
  font-size: 2vw; /* Utiliza el 2% del ancho de la pantalla para establecer el tamaño de la flecha */
}

.banner a:hover {
  background-color: rgba(230, 175, 224, 0.8);
}

.anterior, .siguiente {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4vw; /* Utiliza el 4% del ancho de la pantalla para establecer el tamaño de la flecha */
  color: #fff;
}

.anterior {
  left: 2%; /* La coloca a un 2% de la izquierda del contenedor */
}

.siguiente {
  right: 2%; /* La coloca a un 2% de la derecha del contenedor */
}


/* cards */
.img {
  overflow: hidden;
}
.card-img-top {
  width: 100%;
  height: 12rem;
  object-fit:cover;
  transition: transform 0.2s ease;
}

.card:hover img {
  transform: scale(1.03);
}


.card a {
  background-color: #f8da76;
  color: rgb(13, 13, 13);    
}

.card a:hover {
  border-color: #161516;
}


/* details */
.details {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
  position: relative; 
}
.details img {
  position: absolute; 
  top: 0; 
  left: 0; 
  z-index: 1; 
  width: 100%; 
  height: auto; 
}

.details .texto{
  margin:auto;
  font-size: small;
  text-align: center;
  width: auto;
  z-index: 0; 
}

/* stats*/
.tabla-stats {
  flex-basis: 1024px;
}

 /* footer */
 footer {
  box-sizing: border-box;
  display: flex;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(245, 230, 238);
  justify-content: space-between;
}

.buttons a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  width: 50px;
  height:50px;
}
.buttons a:first-child {
  margin-right: 10px;
}

.buttons svg {
  height: 30px;
  width: 30px;
  fill: #000;
  transition: transform 0.2s ease-in-out;
  margin-left: 15px;
}

.buttons svg:hover {
  transform: scale(1.2);
}



@media only screen and (min-width: 375px) {

  .navbar-nav-scroll {
    --bs-scroll-height: 200px;
  }
  
}
@media screen and (min-width: 768px) {
  .banner a {
    font-size: 24px; /* Cambia el tamaño de la flecha en pantallas con un ancho mínimo de 768 píxeles */
  }
  
  .anterior, .siguiente {
    font-size: 40px; /* Cambia el tamaño de la flecha en pantallas con un ancho mínimo de 768 píxeles */
  }
  
  .anterior {
    left: 20px; /* La coloca a 20 píxeles de la izquierda del contenedor en pantallas más grandes */
  }

  .siguiente {
    right: 20px; /* La coloca a 20 píxeles de la derecha del contenedor en pantallas más grandes */
  }
}